
/* Your CSS Code here. */
/* Hide default video controls to use custom ones */
video::-webkit-media-controls {
    display: none !important;
}

video {
    /* To ensure video fits its container */
    max-width: 100%;
}

.wrapper {
    max-width: 765px;
    margin: 0 auto;
}

.controls {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
    color: white;
    align-items: center;
}

.player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1rem;
}

.player__slider {
    width: 100px;
    margin: 0 10px;
}

.progress {
    flex-basis: 60%; /* Main space for the progress bar */
    display: flex;
    height: 10px;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
}

.progress__filled {
    width: 0%;
    background: #ffc600;
    flex-basis: 0%;
}
